__pycache__/auxiliar.cpython-37.pyc
__pycache__/conexiones.cpython-37.pyc
__pycache__/decoderWiegand.cpython-37.pyc
__pycache__/delays.cpython-37.pyc
__pycache__/encoderWiegand.cpython-37.pyc
__pycache__/entradas.cpython-37.pyc
__pycache__/ftp.cpython-37.pyc
__pycache__/hbl.cpython-37.pyc
__pycache__/hblCore.cpython-37.pyc
__pycache__/hidDevice.cpython-37.pyc
__pycache__/httpServer.cpython-37.pyc
__pycache__/i2c.cpython-37.pyc
__pycache__/i2cDevice.cpython-37.pyc
__pycache__/lcd_i2c.cpython-37.pyc
__pycache__/log.cpython-37.pyc
__pycache__/main.cpython-37.pyc
__pycache__/redundancia.cpython-37.pyc
__pycache__/reporte.cpython-37.pyc
__pycache__/salidas.cpython-37.pyc
__pycache__/signals.cpython-37.pyc
__pycache__/tcp.cpython-37.pyc
__pycache__/wiegand.cpython-37.pyc
log/hblCacheo.log
log/hblConexiones.log
log/hblCore.log
log/hblDobleFactor.log
log/hblEntradas.log
log/hblFileManage.log
log/hblFTP.log
log/hblhidDevice.log
log/hblHTTP.log
log/hbli2c.log
log/hblKiosco.log
log/hblPrograma.log
log/hblRedundancia.log
log/hblReporte.log
log/hblRequest.log
log/hblSerial.log
log/hblTareas.log
log/hblTcp.log
log/hblWebSocket.log
log/hblWiegand.log
hblSerial.log
modulos/__pycache__/__init__.cpython-37.pyc
modulos/__pycache__/auxiliar.cpython-37.pyc
modulos/__pycache__/cacheo.cpython-37.pyc
modulos/__pycache__/conexiones.cpython-37.pyc
modulos/__pycache__/decoderWiegand.cpython-37.pyc
modulos/__pycache__/delays.cpython-37.pyc
modulos/__pycache__/dobleFactor_LPR_DNI.cpython-37.pyc
modulos/__pycache__/encoderWiegand.cpython-37.pyc
modulos/__pycache__/entradas.cpython-37.pyc
modulos/__pycache__/ftp.cpython-37.pyc
modulos/__pycache__/hbl.cpython-37.pyc
modulos/__pycache__/hblCore.cpython-37.pyc
modulos/__pycache__/hidDevice.cpython-37.pyc
modulos/__pycache__/httpServer.cpython-37.pyc
modulos/__pycache__/i2cDevice.cpython-37.pyc
modulos/__pycache__/JSONFileManage.cpython-37.pyc
modulos/__pycache__/lcd_i2c.cpython-37.pyc
modulos/__pycache__/log.cpython-37.pyc
modulos/__pycache__/redundancia.cpython-37.pyc
modulos/__pycache__/reporte.cpython-37.pyc
modulos/__pycache__/request.cpython-37.pyc
modulos/__pycache__/salidas.cpython-37.pyc
modulos/__pycache__/serial.cpython-37.pyc
modulos/__pycache__/tcp.cpython-37.pyc
modulos/__pycache__/variablesGlobales.cpython-37.pyc
modulos/__pycache__/WebSocket.cpython-37.pyc
*.pyc
*.zip
Cosas que faltan.txt
